.postHeaderContainer {
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    margin-top: 2rem;
    padding: 1.5rem;
    background-color: #EEEEEE;
    border-radius: 10px;
    width: 60%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.postImg {
    width: 350px;
    max-height: 300px;
    border-radius: 10px;
    background-color: #FFFFFF;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* .userInfo {
} */

.postDetailButtons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.description {
    margin-left: 60px;
}

.postUser {
    display: inline-block;
    margin-left: 15px;
}

.userInfo img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: #234a35 2px solid;
}