.postHeaderContainer {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    background-color: steelblue;
    width: 70%;
}

.postImg {
    width: 350px;
    max-height: 300px;
    border-radius: 10px;
    background-color: #FFFFFF;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.userInfo img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: #234a35 2px solid;
}