
.postList-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 2rem;
}

.postCardWidth {
    max-width: 460px;
}

.postList-container img {
    height: 100%;
}

#post-list-user-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: #234a35 2px solid;
}

.postList-title {
    font-size: 30px;
    letter-spacing: 1px;
}

.post-list-username {
    display: inline-block;
    margin-right: .5rem;
}

.post-card-description {
    max-width: 80%;
}

.post-list-container , .card { 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: none;
}

.mapBoxContainer {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    max-height: 60vh;
}

@media only screen  and (max-width: 1220px) {
    .postCardWidth {
        max-width: 420px;
    }
}

@media only screen and (min-width: 1077px) {
    .postList-wrapper {
        display: flex;
    }

    .mapBoxContainer {
        margin-top: 2.5rem;
        margin-left: 20px;
    }

    #mapContainer {
        width: 60vw !important;
        height: 80vh;
    }

    #mapContainer  > * {
        height: 100% !important;
        width: 100% !important;
    }

}

@media only screen and (max-width: 1077px) {

    .mapBoxContainer {
        width: 100vw !important;
        border-top: 1px solid #234a35;
    }

    .postCardWidth {
        max-width: 500px;
    }
}

@media only screen and (max-width: 770px) {
    .postList-card {
        max-width: 400px !important;
    }

    .postList-card img {
        max-height: 300px;
    }
}
@media only screen and (max-width: 670px) {
    .postList-card {
        max-width: 80% !important;
    }

    .postList-card img {
        max-height: 300px;
    }

    .mapBoxContainer {
        max-width: 90% !important;
    }
}

/* 1077 - 1220 */