.commentContainer {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}

.userImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #234a35;
}

.commentInfo {
    background-color: #FFFFFF;
    padding: 5px;
    border-radius: 5px;
    width: 100%;
    margin-left: 10px;
}

.commentUsername {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: bold;
}

/* .commentDescription {
    
} */