.commentContainer {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}

.userImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #234a35;
}

.commentInfo {
    background-color: #FFFFFF;
    padding: 5px;
    border-radius: 5px;
    width: 100%;
    margin-left: 10px;
}

.commentHeader {
    display: flex;
    margin: 0 5px 0 5px;
    justify-content: space-between;
}

.commentUsername {
    display: inline-block;
    font-weight: bold;    
}

.postedOn {
    color: rgb(170, 169, 169);
}